html * {
  font-family: "Lato", sans-serif;

}

#root {
	display:flex;
}

.hljs-keyword {
  color: cornflowerblue;
}

.hljs-string {
  color: hsla(120, 100%, 49%, 1) !important;
}

.hljs-title {
  color: hsla(197, 82%, 123%, 1) !important;
}

.hljs-tag {
	color: royalblue !important;
}

.hljs-name {
	color: royalblue !important;
}

.hljs-variable {
	color: hsla(294, 71%, 66%, 1) !important;
}

.code-block {
  background-color: hsla(0, 0%, 9%, 1);
  font-family: "Roboto mono", monospace !important;
  color:white;
  font-size: large;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  word-wrap: normal;
}

#code-holder {
	display:flex
}

.code-block > span {
  font-family: "Roboto mono", monospace !important;
}

code#code_styled {
  color: royalblue !important;
  font-family: "Roboto mono", monospace !important;
}
